body {
    background-color: rgb(255, 255, 255);
}

.r {
    background-color: rgba(255, 0, 0, 0.9);
}

.g {
    /* background-color: rgb(0, 255, 0); */
    background-color: #51124fAA;
}

.b {
    /* background-color: hsl(120, 80%, 75%); */
    background-color: hsla(120, 100%, 50%, 0.3);
}